/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button,
ul li {
  cursor: pointer;
}

ul {
  list-style: none;
}

/* Loader */
.loader {
  background-color: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.loader i {
  font-size: 2rem;
  color: #08005e;
  animation: spin 0.8s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-icon {
  width: 2rem;
  height: 2rem;
}

/* Navbar */
li {
  margin: 0 10px;
}

nav {
  transition: background-color 0.5s;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block !important;
}

.active .bordered {
  border-bottom: 2px solid #1acc8e;
}

.navbar .nav-item:hover .bordered {
  border-bottom: 2px solid #1acc8e;
}

.navbar .navbar-nav:hover {
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

@media (max-width: 991.5px) {
  .navbar .navbar-collapse {
    text-align: center;
    background-color: #08005e;
  }
}

.navbar .dropdown-menu {
  background-color: rgb(181, 178, 226);
  border: none;
  border-radius: 20px;
}

.navbar .dropdown-menu li a {
  color: #11058d;
  transition: 0.3s;
  border-radius: 20px;
}

.navbar .dropdown-menu li:hover a {
  color: #10058db5;
  margin-left: 5px;
}

/* Sticky Bar */
.sticky-bar {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 10px 15px rgba(25, 25, 25, 0.1);
  background-color: #11058d !important;
}

/* Background Image Container */
.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -100;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
section.overlay {
  background-color: #08005eea;
  height: auto;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

.overlay h1 {
  color: #babad2;
}

.overlay .bootslander {
  border-bottom: 5px solid #1acc8e;
}

.overlay .get-started {
  letter-spacing: 1.5px;
  background-color: #1acc8e;
}

.overlay .get-started:hover {
  background-color: rgb(25, 173, 121)
}

.overlay i {
  color: #1acc8e;
}

/* Watch */
.watch {
  transition: 0.3s;
}

.watch-video:hover .watch {
  color: #1acc8e;
}

/* Overlay In */
.overlay .overlay-in {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Flex Content */
.flex-content {
  margin-top: 100px;
}

/* Tel Image */
.image-move {
  animation: bounce 2s infinite ease-in-out alternate-reverse;
}

@keyframes bounce {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.image-move img {
  width: 25rem;
}

/* Waves */
.waves {
  width: 100%;
  height: 15vh;
  z-index: 1000;
}

/* Waves Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 18s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

/* About */
.about .btn {
  background-color: #f3fcf9;
  color: rgb(26, 204, 141);
  line-height: 19px;
}

.about .btn-read-more {
  background-color: #1acc8e;
  width: 250px;
  color: #fff;
  line-height: 24px;
  letter-spacing: 1px;
  transition: 0.3s;
  i {
    transition: 0.3s;
  }
}

.about .btn-read-more:hover {
  background-color: #1ede9b;
  i {
    padding-left: 10px;
  }
}

.about h2 {
  color: rgb(4, 6, 119);
  line-height: 38.4px;
}

.about p {
  color: rgb(68, 68, 68);
  font-family: "Roboto", serif;
  line-height: 24px;
}

.icon-section {
  transition: 0.3s;
}

.icon-section:hover {
  background-color: #32c08d !important;
  i {
    color: white
  }
}

.about i {
  color: #32c08d;
}

.about .d-flex {
  background-color: #f3fcf9;
  width: 80px;
  height: 80px;
}

/* Cards */
.cards-up {
  margin-top: 7rem !important;
}

.cards span {
  color: rgb(4, 6, 119);
  transition: 0.3s;
}

.cards .card-container {
  border: 1px rgb(233, 233, 233) solid;
  transition: 0.3s;
}

.cards .card-container:hover {
  border: 1px #1acc8e solid;
  span {
    color: #1acc8e;
  }
}

/* Numbers */
.numbers-up {
  background-color: #f5f5ff;
}

.numbers section.rounded-pill {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(-30px);
  width: 60px;
  height: 60px;
  color: #32c08d;
}

.numbers h4 {
  color: color(srgb 0.266667 0.266667 0.266667 / 0.8);
  font-family: "Roboto", serif;
  padding-top: -10px;
  padding-bottom: 10px;
  line-height: 24px;
}

.numbers p {
  color: rgb(68, 68, 68);
  line-height: 24px;
}

/* Details */
.details-container h2 {
  color: rgb(4, 6, 119);
  text-transform: uppercase;
  line-height: 30px;
}

.details-container span {
  text-transform: uppercase;
  color: color(srgb 0.266667 0.266667 0.266667 / 0.5);
  letter-spacing: 1px;
}

.details-container span::after {
  content: "";
  width: 120px;
  display: inline-block;
  height: 1px;
  background-color: #1acc8d;
  margin: 5px 10px;
}

.content-details h4 {
  color: rgb(4, 6, 119);
  line-height: 33.6px;
}

.content-details p {
  color: color(srgb 0.266667 0.266667 0.266667 / 0.8);
  font-family: "Roboto", serif;
}

.content-details span {
  color: color(srgb 0.266667 0.266667 0.266667 / 0.8);
  margin-left: 10px;
  font-family: "Roboto", serif;
}

.content-details .checked {
  padding-bottom: 15px;
}

.content-details i {
  color: rgb(26, 204, 141);
}

/* Gallery */
.gallery-container h2 {
  color: rgb(4, 6, 119);
  text-transform: uppercase;
  line-height: 30px;
}

.gallery-container span {
  text-transform: uppercase;
  color: color(srgb 0.266667 0.266667 0.266667 / 0.5);
  letter-spacing: 1px;
}

.gallery-container span::after {
  content: "";
  width: 120px;
  display: inline-block;
  height: 1px;
  background-color: #1acc8d;
  margin: 5px 10px;
}

.gallery-col {
  width: 330px;
  height: 250px;
  overflow: hidden;
}

.gallery-col img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-col img:hover {
  transform: scale(1.1);
}

/* Carousel */
.carousel-overlay {
  background: color-mix(in srgb, #08005e, transparent 30%);
  width: 100%;
  height: 600px;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.carousel-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}

.carousel-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  width: 100%;
  padding: 40px 0;
}

.carousel-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid color-mix(in srgb, #ffffff, transparent 85%);
  margin: auto;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-caption {
  position: relative;
  transform: translateY(10px);
  height: 250px;
  left: 0;
  right: 0;
}

.carousel-caption h5 {
  margin: 0;
}

.carousel-caption .icons {
  margin: 5px 0;
}

.carousel-caption .icons i {
  color: #ffc107;
}

.carousel-caption .p-icons i {
  color: #b5adc2;
  padding: 0 5px;
}

@media (max-width: 520px) {
  .carousel-caption p {
    color: #b5adc2;
    font-size: 12px;
    padding: 0 5px;
    font-weight: 600;
  }
  .carousel-caption .icons i {
    color: #ffc107;
    font-size: 14px;
  }
  .carousel-caption h5 {
    margin: 0;
    font-size: 14px;
  }
}

.carousel-caption p:nth-of-type(1) {
  color: #9794b0;
  margin: 0;
}

.carousel-caption p:nth-of-type(2) {
  margin: auto;
  width: 60%;
}

.carousel-indicators button {
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
}

/* Team */
.team-container h2 {
  color: rgb(4, 6, 119);
  text-transform: uppercase;
  line-height: 30px;
}

.team-container span {
  text-transform: uppercase;
  color: color(srgb 0.266667 0.266667 0.266667 / 0.5);
  letter-spacing: 1px;
}

.team-container span::after {
  content: "";
  width: 120px;
  display: inline-block;
  height: 1px;
  background-color: #1acc8d;
  margin: 5px 10px;
}

.team-content {
  width: 90%;
  margin: auto;
  transform: translateY(-50px);
  background-color: #fff;
  padding: 15px;
}

.team-content h5 {
  color: rgb(4, 6, 119);
  margin: 0;
}

.team-content section:nth-of-type(1) {
  width: 50px;
  display: inline-block;
  height: 0.7px;
  background-color: color-mix(in srgb, #535252, transparent 20%);
  margin: 7px 0;
}

.team-content p {
  color: color-mix(in srgb, #7d7c7c, transparent 20%);
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.team-content .icons i {
  color: #c7c5c6;
  padding-left: 9px;
  cursor: pointer;

}

.team-content .icons i:hover {
  color: #1acc8d;
}

/* Pricing */
.pricing-container h2 {
  color: rgb(4, 6, 119);
  text-transform: uppercase;
  line-height: 30px;
}

.pricing-container span {
  text-transform: uppercase;
  color: color(srgb 0.266667 0.266667 0.266667 / 0.5);
  letter-spacing: 1px;
}

.pricing-container span::after {
  content: "";
  width: 120px;
  display: inline-block;
  height: 1px;
  background-color: #1acc8d;
  margin: 5px 10px;
}

.pricing-up .popular section {
  color: #ffffff;
  border-radius: 10px;
  background-color: #1acc8d;
  text-align: center;
  padding: 5px 20px;
  margin: 0;
}

.pricing-up .card {
  background-color: #f7fdfb;
  .below-header {
    color: #444444;
  }
  .price {
    color: #1acc8e;
  }
  .price span {
    color: color-mix(in srgb, #444444, transparent 50%);
  }
}

.pricing-up .card-header {
  color: #040677;
  background-color: #f7fdfb;
  border: none;
}

.pricing-up .btn-trial {
  background-color: #f7fdfb;
  border: 1px solid #444444;
  height: 50px;
  color: #444444;
  padding: 10px;
  margin: auto;
  display: block;
  width: 100%;
}

.pricing-up .btn-trial:hover {
  background-color: #1acc8d;
  color: #ffffff;
  border:none;

}

.pricing-up .btn-middle {
  background-color: #1acc8d;
  color: #ffffff;
  height: 50px;
  padding: 10px;
  margin: auto;
  display: block;
  width: 100%;
}

.pricing-up .btn-middle:hover {
  background-color: #1cde9a;

}

.pricing-up .debit {
  color: #444444;
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 30px;
}

.pricing-up .advan section {
  color: color-mix(in srgb, #444444, transparent 30%);
  padding-bottom: 25px;
  font-weight: 500;
}

.pricing-up .advan section span i {
  color: #059652;
  padding-right: 10px;
}

.pricing-up .advan p {
  display: inline-block;
}

/* FAQ */
.faq {
  background-color: #f5f5ff;
  height: auto;
}

.faq .faq-header h3 {
  color: rgb(4, 6, 119);
  padding-bottom: 10px;
}

.faq .faq-header p {
  color: color-mix(in srgb, #444444, transparent 30%);
}

.accordion-item {
  margin-bottom: 20px;
  border: none;
  padding: 10px;
}

.accordion-item:hover h2 button {
  color: #1acc8d !important;
}

.accordion-item h2 button {
  color: rgb(4, 6, 119) !important;
}

.accordion-item span i {
  color: #1acc8d;
  padding-right: 10px;
}

/* Contact */
.contact-container h2 {
  color: rgb(4, 6, 119);
  text-transform: uppercase;
  line-height: 30px;
}

.contact-container span {
  text-transform: uppercase;
  color: color(srgb 0.266667 0.266667 0.266667 / 0.5);
  letter-spacing: 1px;
}

.contact-container span::after {
  content: "";
  width: 120px;
  display: inline-block;
  height: 1px;
  background-color: #1acc8d;
  margin: 5px 10px;
}

.contact-up i {
  color: #1acc8d;
}

.contact-up input {
  padding: 5px;
  margin: 10px;
  width: 100%;
  border: color-mix(in srgb, #444444, transparent 50%) 1px solid;
  border-radius: 5px;
  transition: 0.3s;
}

.contact-up input:focus {
  border: #1acc8d 1px solid ;
  outline: none;
}

.contact-up textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  margin: 10px;
  border: color-mix(in srgb, #444444, transparent 50%) 1px solid;
  border-radius: 5px;
  transition: 0.3s;
}

.contact-up textarea:focus {
  border: #1acc8d 1px solid ;
  outline: none;
}

.contact-up button {
  background-color: #1acc8d;
  color: #ffffff;
  padding: 10px;
  margin: auto;
  display: block;
  width: 200px;
  border-radius: 30px;
}

.contact-up button:hover {
  background-color: #1ab07c;
  color: #ffffff;
}

/* Footer */
.footer {
  background-color: #07005f;
  height: auto;
}

.footer h3,
.footer h5 {
  padding-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto", serif;
}

.footer p {
  color: #ffffff;
  font-family: "Roboto", serif;
  font-size: 14px;
}

.footer ul li {
  color: #aba8df;
  font-family: "Roboto", serif;
  padding-bottom: 10px;
  font-size: 14px;
  transition: 0.3s;
}

.footer ul li:hover {
  color: #1acc8d;
}

.footer ul {
  padding: 0;
}

.footer i {
  color: rgba(255, 255, 255, 0.592);
  padding: 0 10px;
  font-size: 20px;
  border: 1px rgba(255, 255, 255, 0.284) solid;
  border-radius: 50%;
  padding: 20px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.footer i:hover {
  color: #1acc8d;
  border: 1px #1acc8d solid;
}

.footer .icons {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.footer .input-group-text {
  background-color: #1acc8d;
  transition: 0.3s;
}

.footer .input-group-text:hover {
  background-color: #18b880;
}

.footer form {
  margin-top: 40px;
}

.footer .copy {
  padding: 20px;
}


/* Fixed Icon */
.fixed-icon i {
  color: #1acc8d;
  border: 1px #1acc8d solid;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* Animations */
.forAnimate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}